@use "sass:meta";
@use "../utils/CommonColors" as ccolors;

@each $name, $color in ccolors.$colors {
  @if meta.type-of($color) != "map" {
    .bg-#{$name} {
      background-color: #{$color};
    }
    .hover\:bg-#{$name}:hover {
      background-color: #{$color};
    }
  } @else {
    @each $shade, $shade-value in $color {
      .bg-#{$name}-#{$shade} {
        background-color: #{$shade-value};
      }
      .hover\:bg-#{$name}-#{$shade}:hover {
        background-color: #{$shade-value};
      }
    }
  }
}
