@use "./aspectRatio";
@use "./backgrounds";
@use "./boxDecorationBreak";
@use "./boxSinzing";
@use "./breakAfter";
@use "./breakBefore";
@use "./breakInside";
@use "./clear";
@use "./columns";
@use "./containers";
@use "./display";
@use "./float";
@use "./isolation";
@use "./objectFit";
@use "./objectPosition";
@use "./overflow";
@use "./overscrollBehavior";
@use "./position";
@use "./trbl";
@use "./visible";
@use "./zIndex";