@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); /* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap'); /* Google Sans Code */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); /* Lora */

:root {
    --mono: ui-monospace, Monaco, Consolas, 'Courier New', monospace;
    --serif: ui-serif, 'Times New Roman', Georgia, Times, serif;
    --sans: ui-sans-serif, sans-serif, system-ui;
    --roboto: 'Roboto', sans-serif, ui-sans-serif;
    --open-sans: 'Open Sans', sans-serif, ui-sans-serif;
    --google-sans-code: 'Google Sans Code', monospace, 'Courier New', sans-serif, ui-sans-serif;
    --lora: 'Lora', 'Times New Roman', ui-serif, serif;
    --lines: 1.74rem;
}

/* Fontes Inspiradas do Tailwind CSS - Default */

.font-mono {
    font-family: var(--mono);
    line-height: var(--lines);
}

.font-serif {
    font-family: var(--serif);
    line-height: var(--lines);
}

.font-sans {
    font-family: var(--sans);
    line-height: var(--lines);
}

/* Fontes retiradas do Google Fonts - Extras 0.1 */

.font-roboto { /* Sans */
    font-family: var(--roboto);
    line-height: calc(var(--lines) + 0.7);
}

.font-open { /* Sans */
    font-family: var(--open-sans);
    line-height: calc(var(--lines) + 1);
}

.font-google { /* Sans */
    font-family: var(--google-sans-code);
    line-height: calc(var(--lines) + 1.15);
}

.font-lora { /* Serif */
    font-family: var(--lora);
    line-height: calc(var(--lines) + 1.1);
}

/* Font-Style e Weight inspirados no Boostrap 4 */

.italic {
    font-style: italic;
}

.normal-sw { /* normal-sw = fonte normal Style e Weight */
    font-style: normal;
    font-weight: normal;
}

.normal-s {
    font-style: normal;
}

.normal-w {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.light {
    font-weight: lighter;
}

.medium {
    font-weight: 500;
}