@charset "UTF-8";
@import url('CommonColors.css');

:root {
    --nowraps: nowrap;
}

/* Alinhamentos de Textos */

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

/* Estilos de Letras */

.text-upper {
    text-transform: uppercase;
}

.text-lower {
    text-transform: lowercase;
}

.text-capi, .text-capita {
    text-transform: capitalize;
}

/* Transbordamento de Texto */

.text-truncate {
    overflow: hidden;
    white-space: var(--nowraps);
    text-overflow: ellipsis;
}

.text-wrap {
    text-wrap: wrap;
}

.text-nowrap {
    text-wrap: var(--nowraps);
}

/* Text-Colors inspirados no Tailwind CSS v4.1 */

.text-white {
    color: var(--white);
}

.text-black {
    color: var(--black);
}

.text-silver {
    color: var(--silver);
}

.text-gray {
    color: var(--gray);
}

.text-grayDim {
    color: var(--dim-gray);
}

.text-stone {
    color: var(--stone);
}

.text-neutral {
    color: var(--neutral);
}

.text-red {
    color: var(--red);
}

.text-marron {
    color: var(--marron);
}

.text-wine, .text-vinho {
    color: var(--wine);
}

.text-wineDark, .text-vinhoDark {
    color: var(--wine-dark);
}

.text-brown {
    color: var(--brown);
}

.text-yellow {
    color: var(--yellow);
}

.text-gold {
    color: var(--gold);
}

.text-olive {
    color: var(--olive);
}

.text-orangeYellow {
    color: var(--orange-yellow);
}

.text-orange {
    color: var(--orange);
}

.text-tomato {
    color: var(--tomato);
}

.text-lime {
    color: var(--lime-green);
}

.text-greenDark {
    color: var(--dark-green);
}

.texxt-aqua {
    color: var(--aqua);
}

.text-teal {
    color: var(--teal);
}

.text-blue {
    color: var(--blue);
}

.text-blueLight {
    color: var(--blue-light);
}

.text-navy {
    color: var(--navy-blue);
}

.text-pink {
    color: var(--pink);
}

.text-hotPink {
    color: var(--hot-pink);
}

.text-pinkFocus {
    color: var(--pink-focus);
}

.text-pinkDark {
    color: var(--pink-dark);
}

.text-purplePink {
    color: var(--purple-pink);
}

.text-purpleDark {
    color: var(--purple-dark);    
}

.text-purpleLight {
    color: var(--purple-light);
}

.text-uzi {
    color: var(--purple-uzi);
}

.text-indigo {
    color: var(--indigo);
}