@charset "UTF-8";
@import url('components/fonts.css'); /* Fontes do BlokoCSS */
@import url('components/text.css'); /* Textos do BlokoCSS */
@import url('components/margins.css'); /* Margins do BlokoCSS */
@import url('components/paddings.css'); /* Paddings do BlokoCSS */
@import url('components/CommonColors.css'); /* CommonColors do BlokoCSS */

:root {
    --zr-pd: 0px;
    --zr-m: 0px;
}

* {
    margin: var(--zr-m);
    padding: var(--zr-pd);
    box-sizing: border-box;
}

body {
    font-family: var(--sans);
    color: var(--text-black);
}

html, body {
    width: 100%;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    line-height: var(--lines);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--medium);
}