@charset "UTF-8";
@import url('components/imports.css'); /* Arquivo de importação de vários arquivos */

/*
    Organização por importância de carregamento:
    * spacing
    * layout
    * typography (por último SEMPRE)
*/

:root {
    --zr-pd: 0px;
    --zr-m: 0px;
}

* {
    margin: var(--zr-m);
    padding: var(--zr-pd);
    box-sizing: border-box;
}

body {
    font-family: var(--sans);
    color: var(--text-black);
}

html, body {
    width: 100%;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--medium);
}