@charset "UTF-8";
@import url('components/spacing/margins.css'); /* Margins do BlokoCSS */
@import url('components/spacing/paddings.css'); /* Paddings do BlokoCSS */
@import url('components/layout/containers.css'); /* Containers do BlokoCSS */
@import url('components/typography/fonts.css'); /* Fontes do BlokoCSS */
@import url('components/typography/text.css'); /* Textos do BlokoCSS */
@import url('components/typography/CommonColors.css'); /* CommonColors do BlokoCSS */

/*
    Organização por importância de carregamento:
    * spacing
    * layout
    * typography (por último SEMPRE)
*/

:root {
    --zr-pd: 0px;
    --zr-m: 0px;
}

* {
    margin: var(--zr-m);
    padding: var(--zr-pd);
    box-sizing: border-box;
}

body {
    font-family: var(--sans);
    color: var(--text-black);
}

html, body {
    width: 100%;
    height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: var(--medium);
}