@charset "UTF-8";
@import url('../typography/CommonColors.css');
@import url('../spacing/paddings.css');

:root {
    --bg-code:#363636;
}

.code-block {
    background-color: var(--bg-code);
    color: var(--white);
    padding: var(--pd-2);
}