.outline-white {
  outline-color: #FFFFFF;
}

.outline-silver {
  outline-color: #bdbdbd;
}

.outline-gray-100 {
  outline-color: #808080;
}

.outline-gray-200 {
  outline-color: #717171;
}

.outline-gray-300 {
  outline-color: #626262;
}

.outline-gray-400 {
  outline-color: #545454;
}

.outline-gray-500 {
  outline-color: #464646;
}

.outline-gray-600 {
  outline-color: #393939;
}

.outline-gray-700 {
  outline-color: #2c2c2c;
}

.outline-gray-800 {
  outline-color: #1f1f1f;
}

.outline-gray-900 {
  outline-color: #131313;
}

.outline-gray-950 {
  outline-color: #0b0b0b;
}

.outline-stone {
  outline-color: #4A5565;
}

.outline-neutral {
  outline-color: #45556C;
}

.outline-black {
  outline-color: #000000;
}

.outline-beiger {
  outline-color: #ffe7de;
}

.outline-red-100 {
  outline-color: #ffd0be;
}

.outline-red-200 {
  outline-color: #ff9f80;
}

.outline-red-300 {
  outline-color: #ff6945;
}

.outline-red-400 {
  outline-color: #fa0d00;
}

.outline-red-500 {
  outline-color: #cd1a06;
}

.outline-red-600 {
  outline-color: #a11d0a;
}

.outline-red-700 {
  outline-color: #7a1b0b;
}

.outline-red-800 {
  outline-color: #50180a;
}

.outline-red-900 {
  outline-color: #2c1205;
}

.outline-red-950 {
  outline-color: #1c0b03;
}

.outline-marron {
  outline-color: #800000;
}

.outline-wine-50 {
  outline-color: #faece9;
}

.outline-wine-100 {
  outline-color: #f5d9d3;
}

.outline-wine-200 {
  outline-color: #e9b4a8;
}

.outline-wine-300 {
  outline-color: #da8f80;
}

.outline-wine-400 {
  outline-color: #c86a59;
}

.outline-wine-500 {
  outline-color: #bb4737;
}

.outline-wine-600 {
  outline-color: #9f0712;
}

.outline-wine-700 {
  outline-color: #761310;
}

.outline-wine-800 {
  outline-color: #50140d;
}

.outline-wine-900 {
  outline-color: #2c1007;
}

.outline-wine-950 {
  outline-color: #1c0a03;
}

.outline-brown-50 {
  outline-color: #f1eeed;
}

.outline-brown-100 {
  outline-color: #e3dddc;
}

.outline-brown-200 {
  outline-color: #c7bcba;
}

.outline-brown-300 {
  outline-color: #ab9c99;
}

.outline-brown-400 {
  outline-color: #917d79;
}

.outline-brown-500 {
  outline-color: #76605b;
}

.outline-brown-600 {
  outline-color: #5d443e;
}

.outline-brown-700 {
  outline-color: #442924;
}

.outline-brown-800 {
  outline-color: #2c1007;
}

.outline-brown-900 {
  outline-color: #1c0a03;
}

.outline-brown-950 {
  outline-color: #110502;
}

.outline-yellow {
  outline-color: #FFFF00;
}

.outline-gold {
  outline-color: #FFD700;
}

.outline-olive {
  outline-color: #808000;
}

.outline-orange {
  outline-color: #FF8904;
}

.outline-oranged {
  outline-color: #f03721;
}

.outline-orangeYellow {
  outline-color: #FFB93B;
}

.outline-tomato {
  outline-color: #FF6347;
}

.outline-green-50 {
  outline-color: #00ff00;
}

.outline-green-100 {
  outline-color: #0ff009;
}

.outline-green-200 {
  outline-color: #1dd213;
}

.outline-green-300 {
  outline-color: #22b518;
}

.outline-green-400 {
  outline-color: #24991a;
}

.outline-green-500 {
  outline-color: #247e1a;
}

.outline-green-600 {
  outline-color: #226419;
}

.outline-green-700 {
  outline-color: #1e4b16;
}

.outline-green-800 {
  outline-color: #183313;
}

.outline-green-900 {
  outline-color: #121d0c;
}

.outline-green-950 {
  outline-color: #0a1206;
}

.outline-aqua {
  outline-color: #00FFFF;
}

.outline-teal {
  outline-color: #008080;
}

.outline-blue-50 {
  outline-color: #f6f0ff;
}

.outline-blue-100 {
  outline-color: #ede1ff;
}

.outline-blue-200 {
  outline-color: #dac3ff;
}

.outline-blue-300 {
  outline-color: #c5a6ff;
}

.outline-blue-400 {
  outline-color: #af89ff;
}

.outline-blue-500 {
  outline-color: #966cff;
}

.outline-blue-600 {
  outline-color: #7a4fff;
}

.outline-blue-700 {
  outline-color: #434EE0;
}

.outline-blue-800 {
  outline-color: #0000ff;
}

.outline-blue-900 {
  outline-color: #221078;
}

.outline-blue-950 {
  outline-color: #1a0e3c;
}

.outline-purple-50 {
  outline-color: #f6effc;
}

.outline-purple-100 {
  outline-color: #ecdff9;
}

.outline-purple-200 {
  outline-color: #d8bff3;
}

.outline-purple-300 {
  outline-color: #c49fed;
}

.outline-purple-400 {
  outline-color: #ae80e6;
}

.outline-purple-500 {
  outline-color: #9861df;
}

.outline-purple-600 {
  outline-color: #7f41d7;
}

.outline-purple-700 {
  outline-color: #631bcf;
}

.outline-purple-800 {
  outline-color: #451985;
}

.outline-purple-900 {
  outline-color: #271342;
}

.outline-purple-950 {
  outline-color: #190d24;
}

.outline-baby-blue {
  outline-color: #434EE0;
}

.outline-navy {
  outline-color: #000080;
}

.outline-pink-50 {
  outline-color: #ffd3ff;
}

.outline-pink-100 {
  outline-color: #ffa5ff;
}

.outline-pink-200 {
  outline-color: #ff00ff;
}

.outline-pink-300 {
  outline-color: #dc15db;
}

.outline-pink-400 {
  outline-color: #b91cb9;
}

.outline-pink-500 {
  outline-color: #981f97;
}

.outline-pink-600 {
  outline-color: #781e77;
}

.outline-pink-700 {
  outline-color: #5a1b59;
}

.outline-pink-800 {
  outline-color: #3d173c;
}

.outline-pink-900 {
  outline-color: #221121;
}

.outline-pink-950 {
  outline-color: #150914;
}

.outline-hot-pink {
  outline-color: #FF69B4;
}

.outline-pink-focus {
  outline-color: #F6339A;
}

.outline-pink-dark {
  outline-color: #C92AB6;
}

.outline-purple-pink {
  outline-color: #961EC9;
}

.outline-indigo {
  outline-color: #4B0082;
}

.outline-transparent {
  outline-color: transparent;
}

.outline-current {
  outline-color: currentColor;
}

.outline-inherit {
  outline-color: inherit;
}/*# sourceMappingURL=outline-colors.css.map */