@charset "UTF-8";

:root {
    --0: 0ms;
    --75: 75ms;
    --100: 100ms;
    --150: 150ms;
    --200: 200ms;
    --300: 300ms;
    --400: 400ms;
    --500: 500ms;
}

.duration-0 {
    transition-duration: var(--0);
}

.duration-75 {
    transition-duration: var(--75);    
}

.duration-100 {
    transition-duration: var(--100);
}

.duration-150 {
    transition-duration: var(--150);
}

.duration-200 {
    transition-duration: var(--200);
}

.duration-300 {
    transition-duration: var(--300);
}

.duration-400 {
    transition-duration: var(--400);
}

.duration-500 {
    transition-duration: var(--500);
}