@charset "UTF-8";

/* Common Colors */

:root {
    --white: #FFFFFF;
    --silver: #C0C0C0;
    --gray: #808080;
    --dim-gray: #696969;
    --stone: #4A5565;
    --neutral: #45556C;
    --black: #000000;
    --red: #FF0000;
    --marron: #800000;
    --wine: #A93226;
    --wine-dark: #9F0712;
    --brown: #825621;
    --yellow: #FFFF00;
    --gold: #FFD700;
    --olive: #808000;
    --orange-yellow: #FFB93B;
    --orange: #FF8904;
    --tomato: #FF6347;
    --lime-green: #00FF00;
    --dark-green: #008000;
    --aqua: #00FFFF;
    --teal: #008080;
    --blue: #0000FF;
    --blue-light: #434EE0;
    --navy-blue: #000080;
    --pink: #FF00FF;
    --hot-pink: #FF69B4;
    --pink-focus: #F6339A;
    --pink-dark: #C92AB6;
    --purple-pink: #961EC9;
    --purple-dark: #800080;
    --purple-light: #732EDB;
    --purple-uzi: #631BCF;
    --indigo: #4B0082;
}