@use "../utils/variables" as width;

$spacing: 0.25rem;

@for $w from 0 through 100 {
  @if $w == 0 {
    .w-px {
      width: 1px;
    }
    .min-w-px {
      min-width: 1px;
    }
    .max-w-px {
      max-width: 1px;
    }
  } @else {
    .w-#{$w} {
      width: $spacing * $w;
    }
    .min-w-#{$w} {
      min-width: $spacing * $w;
    }
    .max-w-#{$w} {
      max-width: $spacing * $w;
    }
  }
}

@each $name, $value in width.$sizing-pre-sizes {
  .w-#{$name} {
    width: $value;
  }
  .min-w-#{$name} {
    min-width: $value;
  }
  .max-w-#{$name} {
    max-width: $value;
  }
}