@use "sass:string";
@use "../utils/variables" as flex;

@each $flexss in flex.$flexs {
  @if ($flexss == "initial") {
    .flex-#{$flexss} {
      flex: 0 auto;
    }
  } @else {
    .flex-#{$flexss} {
      flex: string.unquote($flexss);
    }
  }
}

@for $f from 0 through 40 {
  .flex-#{$f} {
    flex: $f;
  }
}